body {
    font-family: 'Betania Patmos';  
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('Images/BG.png');
    background-attachment: fixed;
    background-size: cover;
}